
<body>

<app-navbar></app-navbar>

<img src="assets/images/TeamNL_Logo_Olympisch_RGB_WitKader.jpg" class="center">

<table id="customers">
  <tr>
    <th>Time</th>
    <th>Date</th>
    <th>Temperature (C)</th>
    <th>Wind</th>
    <th>Winddirection</th>

  </tr>
  <tr *ngFor="let time of time; let i= index">
    <th>{{time.id}}</th>
    <th>{{time.recordedValue}}</th>
    <th>{{time.recordedTime}}</th>
    <th>{{time.trackTimeRecords[0].windSpeed}}</th>
    <th>{{time.trackTimeRecords[0].recordedValue}}</th>
    <th>{{time.trackTimeRecords[0].recordedTime}}</th>
  </tr>


</table>

</body>
