<app-header></app-header>
<app-navbar></app-navbar>
<body>
    <h1>Players</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Windspeed (km/h)</th>
            <th>Winddirection</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>#0001</td>
            <td>Jan Stokpaard</td>
            <td>25.8</td>
            <td>NNO</td>
            <td>1:03.209</td>
        </tr>
        <tr>
            <td>#0314</td>
            <td>Cor Leon</td>
            <td>46.4</td>
            <td>SE</td>
            <td>59.101</td>
        </tr>
    </table>
</body>
<app-footer></app-footer>