
<body>


<app-header></app-header>
<app-navbar></app-navbar>
<h1 class="center">Players</h1>
<table id="customers">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Windspeed(km/h)</th>
    <th>Winddirection</th>
    <th>Time</th>
  </tr>
  <tr *ngFor="let athlete of athletes; let i= index">
    <th>{{athlete.id}}</th>
    <th>{{athlete.firstName}} {{athlete.surname}}</th>
    <th>{{athlete.trackTimeRecords[0].windSpeed}}</th>
    <th>{{athlete.trackTimeRecords[0].humidity}}</th>
    <th>{{athlete.trackTimeRecords[0].recordedTime}}</th>
  </tr>
</table>

</body>

