ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  background-image: url("src/assets/images/Schermafbeelding 2022-05-17 om 13.51.06.png");
  }

  li {
    float: right;
  }

  .navbar-img{
    width: 3%;
    float: left;
    padding: 6px 8px;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #c58000 (deep orange) on hover */
  li a:hover {
    background-color: #c58000;
  }

  ol {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
  }

  ol a{
    display: block;
    text-decoration: none;
  }
